<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Exitoso</title>
</head>
<body>
    <h1>Registro Exitoso</h1>
    <p>Nombre: <span th:text="${alumno.nombre}"></span></p>
    <p>Apellido Paterno: <span th:text="${alumno.apellidoPaterno}"></span></p>
    <p>Apellido Materno: <span th:text="${alumno.apellidoMaterno}"></span></p>
    <p>Fecha de Nacimiento: <span th:text="${alumno.fechaNacimiento}"></span></p>
    <p>Lugar de Residencia: <span th:text="${alumno.lugarResidencia}"></span></p>
    <p>Edad: <span th:text="${alumno.edad}"></span></p>
    <p>Teléfono: <span th:text="${alumno.telefono}"></span></p>
    <p>Correo Electrónico: <span th:text="${alumno.correoElectronico}"></span></p>
</body>
</html>

